.main {
  background-color: teal;
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
  height: 100vh;
  .album {
    height: calc(100vh - 5em);
    width: 100vw;
    background-color: firebrick;
    overflow-y: scroll;
    .album-container {
      height: 100%;
      width: calc(100% - 10em);
    }
  }
}

.navbar {
  display: flex;
  flex-flow: row nowrap;
  width: 100vw;
  height: 5em;
  background-color: tomato;
  justify-content: space-between;
  align-items: center;
  padding: 0 5em;
  z-index: 1;
  transition: ease-in-out .5s;
  &.is-scrolling {
    box-shadow: 0 .5em .25em 0px rgba(0,0,0,0.5);
  }
  .nav {
    padding: 1em;
    background-color: goldenrod;
    .nav-filter {
      cursor: pointer;
    }
  }
}

.photo {
  img {
    width: 100%;
    height: auto;
  }
}

.loading-overlay {
  display: none;
  visibility: hidden;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  position: fixed;
  align-items: center;
  justify-content: center;
  font-size: 12em;
  transition: all ease-in-out 1s;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.5);
  &.show {
    transition: all ease-in-out 1s;
    visibility: visible;
    display: flex;
    opacity: 1;
  }
}